/* ── CSS Custom Properties ──────────────────────────────────── */
:root{--bg:#080e1a;--s1:#0d1626;--s2:#111e30;--s3:#162339;--bd:#1a2d45;
--ac:#00E3CD;--ac2:#00F9B8;--gr:#00CF92;--rd:#ef4444;--yw:#FFC711;--pu:#DC7BFF;--cy:#18A7FF;
--tx:#eef2ff;--tx2:#7b97c8;--tx3:#44608a;--sw:220px;--hh:56px;
--ls-blue:#00E3CD;--ls-mint:#00F9B8;--ls-mango:#FFC711;--ls-guava:#FF8766;
--ls-blueberry:#18A7FF;--ls-spinach:#00CF92;--ls-prune:#DC7BFF;--ls-pitaya:#FF8FF5;
--ls-lime:#C2FF7F;--ls-oatmeal:#FBF7E8;}
